.feature-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    
}

.home-featured-projects{
    background: #191919;
    border:1px solid #242424;
    border-radius: 1rem;
    width: 100%;
}
.title-project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.detail > p{
    font-size: .5rem;
}
.thumbnail > img, .thumbnail{
    width: 40px;
    border-radius: 20%;
    aspect-ratio: 1/1;
}